<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit esse modi rerum veritatis sit culpa nisi,
            ipsa necessitatibus harum alias dolore recusandae iusto corporis obcaecati quas dignissimos saepe.
            Similique, nisi.</p>
    </div>
</div>